.head img {
    height: 80px;
}

.head {
    text-align: center;
}

.head nav {
    background-color: black;
    line-height: 50px;
}

.head a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-right: 20px;
    padding: 10px;
}

.head a:hover {
    color: gray;
}